body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://www.xtrafondos.com/wallpapers/espiral-en-movimiento-5908.jpg);
    color: #333;
}
article header{
    background-image: url(https://car-images.bauersecure.com/pagefiles/97739/1752x1168/bmwm3_109.jpg?mode=max&quality=90&scale=down);
    color: rgb(174, 247, 4);
    padding: 200px;
    margin: 1px;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.titulo {
    position: relative;
    top: -170px;
    color: aquamarine;

}
h1, h2 {
    color: #28a745;
    margin-bottom: 0.5em;
}

article header time {
    font-style: italic;
    color: #c21c53;
}

section {
    background-color: #b3cf13;
    margin: 5em;
    padding: 10em;
    border-radius: 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

ul {

    color: #0f1ab1;
    padding-left: 100px;
}

ul ul {
    flex-direction: column;
    list-style-type: circle;
}

form {
    background-color: #f15252;
    padding: 1em;
    border-radius: 30px;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.3em;
    margin-bottom: 1em;
    border: 5px solid #750db1;
    border-radius: 32%;
}

form input[type="submit"] {
    background-color: #df9b1d;
    color: rgb(38, 11, 158);
    border: none;
    padding: 1,3% 6em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.9s;
}

form input[type="submit"]:hover {
    background-color: blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    color: hotpink;
    border: 1px solid #d61385;
}

th, td {
    text-align: left;
    padding: 8px;
}

thead {
    color: firebrick;

    background-color: #00ff80;
    
}

@media (max-width: 600px) {
    body {
        background-color: blanchedalmond;
    }

    article header {
        padding: 0.2em 0;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
